.pageContainer {
	padding: 20px 40px;
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.title {
	font-size: 24px;
	margin-bottom: 20px;
	color: var(--text-primary);
	font-weight: 600;
}

.title span {
	color: var(--accent-red);
}

.list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	max-width: 800px;
	margin: 0 auto;
}

.shimmerItem {
	height: 74px;
	background-color: var(--secondary-bg);
	border-radius: 8px;
}